section.form {
  .gform_wrapper {
    margin: 0;
    max-width: 100%;
  }
  .business-information p {
    margin-bottom: 0;
  }
  .address {
    margin: $global-margin 0;
  }
  @media #{$small-only} {
    .gform_wrapper {
      margin-top: $global-margin;
    }
    .gform_wrapper .ginput_complex.ginput_container span, 
    .gform_wrapper .ginput_complex.ginput_container span, 
    .gform_wrapper .ginput_complex.ginput_container span,
    .gform_wrapper .top_label input.medium, 
    .gform_wrapper .top_label select.medium,
    .gform_wrapper .ginput_complex input[type=email], 
    .gform_wrapper .ginput_complex input[type=number], 
    .gform_wrapper .ginput_complex input[type=password], 
    .gform_wrapper .ginput_complex input[type=tel], 
    .gform_wrapper .ginput_complex input[type=text], 
    .gform_wrapper .ginput_complex input[type=url],
    .gform_wrapper textarea.medium {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}