$panel-width: 90% !default;
$panel-height: 100% !default;
$panel-background: green !default;
$panel-transition-easing: ease !default;
$panel-transition-timing: .25s !default;
$panel-content-padding: 60px 0 0 !default;
$panel-z-index: 9999 !default;
$panel-shadow-color: darken(green, 30%) !default;
$panel-shadow: .01em 0 .5em $panel-shadow-color !default;
$panel-translate: translateX(100%);
$panel-side: "right" !default;
$panel-links-color: $white !default;
$bg-gray-dark: #777 !default;


.off-canvas {
  position: fixed;
  height: 100%;
  width: $panel-width;
  background: $bg-gray-dark;
  padding: $panel-content-padding;
  z-index: $panel-z-index;
  overflow-y: auto;
  transition: all $panel-transition-easing $panel-transition-timing;
  box-shadow: none;
  left: -100%;
  
  &.is-active {
    box-shadow: $panel-shadow;
    left: 0; 
  }

  &::-webkit-scrollbar {
    display: none;
  }
  
  ul.menu > li {
    margin-bottom: rem-calc(10); 
  }

  ul.menu > li > a {
    color: $panel-links-color; 
    
    &:hover {
      background: darken(gold, 10%);
    }
  }

  .menu-item.button {
    margin: 0 0.7rem;
  }

  li.button.outline.gold a:hover {
    background: transparent;
  }
}

.off-canvas-close {
  position: absolute;
  right: 0;
  top: 0;
  background: gold;
  color: $black;
}