$panel-width: 90% !default;
$panel-background: $medium-gray !default;
$panel-transition-easing: ease !default;
$panel-transition-timing: .25s !default;
$panel-content-padding: 60px 0 0 !default;
$panel-z-index: 9999 !default;
$panel-shadow-color: darken($panel-background, 30%) !default;
$panel-shadow: .01em 0 .5em $panel-shadow-color !default;
$panel-translate: translateX(100%);
$panel-side: "left" !default;
$panel-links-color: $white !default;

.off-canvas {
  position: fixed;
  height: 100%;
  width: $panel-width;
  background: $panel-background;
  padding: $panel-content-padding;
  z-index: $panel-z-index;
  overflow-y: auto;
  transition: all $panel-transition-easing $panel-transition-timing;
  box-shadow: none;
  left: -100%;
  
  &.is-active {
    box-shadow: $panel-shadow;
    left: 0; 
  }

  &::-webkit-scrollbar {
    display: none;
  }
  
  ul.menu > li {
    display: block;
    width: 100%;
  }

  ul.menu > li > a {
    color: $panel-links-color; 
    &:hover {
      background: darken($primary-color, 10%);
    }
  }

  ul.menu ul.menu > li a {
    padding-left: $global-padding;
  }

  .menu-item.button {
    margin: 0 0.7rem;
  }

}

.off-canvas-close {
  position: absolute;
  right: 0;
  top: 0;
  background: $primary-color;
  color: $white;
  &:hover {
    background: darken($primary-color, 10%);
  }
}