/* WordPress
--------------------------------------------- */

.entry-content div {
	max-width: 100%;
}

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: rem-calc(24);
}

.alignright .avatar {
	margin-left: rem-calc(24);;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto rem-calc(24);
}

img.alignnone {
	margin-bottom: rem-calc(12);
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img > wp-caption-text {
	margin-bottom: rem-calc(24);
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
	margin: 0 rem-calc(24) rem-calc(24) 0;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 rem-calc(24) rem-calc(24);
}

.wp-caption-text {
	font-size: rem-calc(14);
	font-weight: 700;
	margin-bottom: 0;
	text-align: center;
}

pre {
	background: #eee;
	border: 1px solid #ccc;
	font-size: rem-calc(14);
	padding: rem-calc(10);
	line-height: 1.4;
}

/* Jetpack
--------------------------------------------- */

img#wpstats {
	display: none;
}

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-size: rem-calc(14);
	margin: rem-calc(40) 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: rem-calc(8) rem-calc(12);
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #f15123;
}

.entry-pagination a {
	border-bottom: 1px solid #ddd;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: rem-calc(40);
}


.comment-respond,
.entry-pings {
	padding: rem-calc(40) 0 rem-calc(16);
}

.comment-respond a,
.entry-comments a {
	border-bottom: 1px solid #ddd;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: rem-calc(12);
}

.comment-list, ul.children {
	margin-left: 0;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: rem-calc(24);
	padding: rem-calc(32);
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
}

.comment .avatar {
	margin: 0 rem-calc(16) rem-calc(24) 0;
}

.entry-pings .reply {
	display: none;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: rem-calc(14);
	padding: rem-calc(24);
}

p.form-submit input {
	@include button;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: rem-calc(20);
}

.archive-description,
.author-box {
	background-color: #fff;
	margin-bottom: rem-calc(40);
}

.archive-description {
	padding: rem-calc(40) rem-calc(40) rem-calc(24);
}

.author-box {
	padding: rem-calc(40);
}

.author-box-title {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: rem-calc(16);
	margin-bottom: rem-calc(4);
}

.author-box a {
	border-bottom: 1px solid #ddd;
}

.author-box p {
	margin-bottom: 0;
}

.author-box .avatar {
	margin-right: rem-calc(24);
}