@import '../../bower_components/foundation-sites/scss/util/util';

$global-width: rem-calc(1000);
$global-margin: rem-calc(20);
$global-padding: rem-calc(20);
$column-gutter: rem-calc(30);

$default-bg-color: #eeeeee;
$default-border-color: #cccccc;
