/*!
Theme Name: Genesis Foundation
Theme URI: http://www.secretstache.com
Description: Starter Theme for use as Child Theme of the Genesis Framework for building custom themes.
Author: Secret Stache Media
Author URI: http://www.secretstache.com
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0

Template: genesis
*/

// Normalize
@import "../bower_components/foundation/scss/normalize";

// Foundation Setting Overrides
@import "partials/foundation-settings";

// Foundation
@import "../bower_components/foundation/scss/foundation";

// Foundation Icons
// @import "partials/foundation-icons";

// Foundation Setting Overrides
@import "partials/theme-settings";

// Genesis / WordPress
@import "partials/default";

// Theme
@import "partials/custom";

